
.gllr_spotlight_image{ 
	position: absolute;
	top: 120px;
	left: 10px;
	right: 10px;
	bottom: 10px;
	background: #dedede;
}

.gllr_nav_box{ 
	position: absolute;
	top: 10px;
	left: 10px;
	right: 10px;
	height: 100px;
	background: #dedede;
}

.gllr_nav_prev{
	position: absolute;
	left: 0px;
	top: 0px;
	width: 40px; 
	height: 100px;
	background: #aaa;
}

.gllr_nav_next{
	position: absolute;
	right: 0px;
	top: 0px;
	width: 40px; 
	height: 100px;
	background: #aaa;
}

.gllr_thumbnails_box{
	position: absolute;
	top: 0px;
	right: 50px;
	left: 50px; 
	height: 100px;
	background: #dedede;
}

.gllr_thumbnail{
	display: inline-block;
	width: 140px;
	height: 100px;
	margin: 0px 5px;
	background: #ccc;
}


